# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**
- Popular languages used by Data Scientists
- Common libraries used in Data Science
- Development environment open source tools used
- Arithmetic expressions

Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. SQL
4. Julia
5. Scala

Some of the commonly used libraries used by Data Scientists include:
1. Numpy
2. Pandas
3. Matplotlib
4. Seaborn
5. Scikit-learn
6. PyTorch
7. Tensorflow

Data Science Tools

| Data science Tools | 
| -------------| 
| Jupyter Notebook/Lab | 
| RStudio | 
| Visual Studio Code (VS Code) |

### Below are a few examples of evaluating arithmetic expressions in Python

In [2]:
#This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [9]:
#This will convert 200 minutes to hours by diving by 60
minutes=200
hours=minutes/60
print(hours)

3.3333333333333335